services:
  db:
    image: mariadb:latest
    container_name: mariadb_clinica
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./src/main/resources/schema.sql:/docker-entrypoint-initdb.d/01_schema.sql
      - ./src/main/resources/data.sql:/docker-entrypoint-initdb.d/02_data.sql

volumes:
  db_data: